// Macdonalds colors
$red: #db0507;
$green: #0e4413;

@import "~bootstrap/scss/bootstrap.scss";

@import "./components/Header/style.scss";
@import "./components/Banner/style.scss";
@import "./components/ItemList/style.scss";
@import "./components/Item/style.scss";
@import "./components/Item/RemoveIcon/style.scss";
@import "./components/Footer/style.scss";
@import "./components/Spinner/style.scss";

.container {
  margin: 20px auto;
}
