$footer-height: 150px;

footer {
  height: 0;
  position: sticky;
  padding: 20px 0;
  background-color: $green;
  bottom: 0;
  color: $white;
  overflow-y: auto;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.show {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    height: $footer-height;
  }

  ul {
    width: 40%;
    padding: 0 20px;
    list-style: none;
  }

  .container {
    margin: 0 auto;
  }

  @include media-breakpoint-down(sm) {
    font-size: 0.9rem;

    ul {
      width: 60%;
    }
  }
}
