$header-height: 80px;
$header-height-sm: 58px;

header {
  width: 100%;
  height: $header-height;
  position: sticky;
  top: 0;
  left: 0;
  color: $white;
  background-color: #db0507;
  z-index: 999;
  padding: 1rem;

  h1 {
    margin-bottom: 0;
  }

  img {
    width: 35px;
    margin-right: 20px;
  }

  @include media-breakpoint-down(sm) {
    height: $header-height-sm;

    h1 {
      font-size: 1.4rem;
    }

    img {
      width: 25px;
    }
  }
}
